[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "static"]
	path = static
	url = git@github.com:rob-bateman/rob-bateman.github.io.git
